<app-menu-admin></app-menu-admin>
<table>
  <tr>
    <td>Nom</td>
    <td>Prenom</td>
    <td>Date de demande</td>
    <td>Conseiller</td>
  </tr>
  <tr>
    <td>Jean</td>
    <td>Michel</td>
    <td>24/01</td>
    <td>
       <select>
           <option value="">Conseiller 1</option>
           <option value="">Conseiller 2</option>
           <option value="">Conseiller 3</option>
           <option value="">Conseiller 4</option>
       </select>
    </td>
    <td>
     <button type="submit">Valider</button>
    </td>
  </tr>

  <tr>
    <td>Machin</td>
    <td>chose</td>
    <td>28/12</td>
    <td>
       <select>
           <option value="">Conseiller 1</option>
           <option value="">Conseiller 2</option>
           <option value="">Conseiller 3</option>
           <option value="">Conseiller 4</option>
       </select>
    </td>
    <td>
     <button type="submit">Valider</button>
    </td>
  </tr>

  <tr>
    <td>Bidule</td>
    <td>Chouette</td>
    <td>18/09</td>
    <td>
       <select>
           <option value="">Conseiller 1</option>
           <option value="">Conseiller 2</option>
           <option value="">Conseiller 3</option>
           <option value="">Conseiller 4</option>
       </select>
    </td>
    <td>
     <button type="submit">Valider</button>
    </td>
  </tr>

  <tr>
    <td>Jean</td>
    <td>Nemar</td>
    <td>07/05</td>
    <td>
       <select>
           <option value="">Conseiller 1</option>
           <option value="">Conseiller 2</option>
           <option value="">Conseiller 3</option>
           <option value="">Conseiller 4</option>
       </select>
    </td>
    <td>
     <button type="submit">Valider</button>
    </td>
  </tr>
</table>
