<section class="headbar">
    <div class="menu">
        <div class="row">
            <div class="col-lg-2">
                <a routerLink="/dash-conseiller/validation-affect" class="dropdown-item">Gestion des validations</a>
            </div>
            <div class="col-lg-2">
                <a routerLink="/dash-conseiller/demande-compte" class="dropdown-item">Demande de compte</a>
            </div>
            <div class="col-lg-2">
                <a routerLink="/dash-conseiller/demande-chequier" class="dropdown-item">Demande de chequier</a>
            </div>
            <div class="col-lg-2">
                <a routerLink="/dash-conseiller/search-conseiller" class="dropdown-item">Rechercher</a>
            </div>
            <div class="col-lg-2">
                <a routerLink="/dash-conseiller/mail-conseiller" class="dropdown-item">Mail</a>
            </div>
        </div>
    </div>
</section>