<div class="row">
    <div class="col-lg-10">
      <input class="form-control" type="text" id="lobject" name="box_object" required placeholder="Sujet du message">
    </div>

    <div class="col-lg-10">
    <textarea class="form-control" rows="15"></textarea>
    </div>
</div>


<div class="row">
  
  <div class="col-lg-4">
    <fieldset class="form-group">
       <input type="file" id="joint" name="box_joint" multiple >
    </fieldset>
  </div>
  <div class="col-lg-4">

  </div>
  <div class="col-lg-2">
    <fieldset class="form-group">
      <button type="submit" class="btn btn-primary btn-block" >Envoyer</button>
    </fieldset>
  </div>
</div>
