<section>
     <table class="table table-hover table-striped">
      <tr>
          <td> Numero de compte </td>
          <td> Type de compte</td>
          <td> Solde</td>
          <td> </td>
          <td> </td>
      </tr>
      <tr *ngFor="let listCompte of listCompte">
          <td> {{listCompte.numCompte}}</td>
          <td> {{listCompte.typeCompte}}</td>
          <td> {{listCompte.solde}} euros</td>
          <td> 
                <button type="submit" class="btn btn-primary" [routerLink]="['./view-compte', listCompte.numCompte]">Details</button>
          </td>
          <td>
              <button type="submit" class="btn btn-info" onclick="alert('Votre demande de chéquier a bien été prise en compte. Votre conseiller Gestibank.');">Commander un chéquier</button>
          </td>
      </tr>
     </table>
  </section>

  <section> 
    <p> 
    Vous souhaitez ouvrir un nouveau compte ? <br>
     <select class="form-control" id="nouveau_cpt">
      <option value="Compte simple">Compte simple</option>
      <option value="Compte avec facilité de caisse">Compte avec facilité de caisse</option>
      <option value="Compte rémunéré">Compte rénuméré</option>
    </select>
    <button type="button" class="btn btn-success" onclick="alert('Votre demande sera traitée dans les meilleurs délais. Nous reviendrons vers vous si des pièces supplémentaires sont nécessaires. Votre conseiller Gestibank.');"> Ouvrir un nouveau compte</button>
</p>
  </section>

  <div align="right">
  <button type="submit" class="btn btn-primary" [routerLink]="['/dash-client']">Retour</button>
  </div>