<app-menu-conseiller></app-menu-conseiller>

        <h1> Conseiller </h1>

<div class="list-group">
  <a href="./dash-conseiller" class="list-group-item list-group-item-action active">
    Actions possibles
  </a>
  <a href="./dash-conseiller/validation-affect" class="list-group-item list-group-item-action">Validation des créations de clients</a>
  <a href="./dash-conseiller/demande-compte" class="list-group-item list-group-item-action">Demandes d'ouverture de compte</a>
  <a href="./dash-conseiller/demande-chequier" class="list-group-item list-group-item-action">Demandes de chéquiers</a>
  <a href="./dash-conseiller/search-conseiller" class="list-group-item list-group-item-action">Rechercher un client</a>
  <a href="./dash-conseiller/mail-conseiller" class="list-group-item list-group-item-action">Messagerie</a>
</div>