
<h1> Détails du client : Mme/M {{client.nom}} </h1>

    <ul class="list-group">
  <li class="list-group-item"><b>Nom : </b> {{client.nom}}</li>
  <li class="list-group-item"><b>Prénom : </b> {{client.prenom}}</li>
  <li class="list-group-item"><b>Naissance : </b> {{client.naissance}}</li>  
  <li class="list-group-item"><b>Email : </b> {{client.email}}</li>
  <li class="list-group-item"><b>Téléphone : </b> {{client.telephone}}</li>
  <li class="list-group-item"><b>Adresse : </b> {{client.adresse}} - {{client.codePostal}} {{client.ville}}</li>
  <li class="list-group-item"><b>Situation personnelle : </b> {{client.situation}} - {{client.nombreEnfant}}</li>
  <li class="list-group-item"><b>Salaire : </b> {{client.salaire}}</li>  
</ul>