<div id="txtcentre"><h1> Bienvenue chez GestiBank ! </h1>

    <img width="25%" src="../assets/img/coeur2.gif">

<p> Notre page d'acceuil est à l'image de notre banque : simple et directe.</p>

<p> Vous aussi, rejoingnez l'aventure GestiBank!</p>
<p> SVP, nous cherchons des clients...</p>

<p> La sécurité, notre priorité. C'est pourquoi notre site ne dispose d'aucun dispositif de cryptage.</p>
<P></P>
<h1><a href="./login">Rejoignez-nous !</a></h1>
<P></P>
<p> Déjà client ? <a href="./login">S'identifier.</a></p>
</div>


<!-- <div id="slider">
  <figure>
    <img src="../assets/img1.jpg" alt />
    <img src="../assets/img2.jpg" alt />
    <img src="../assets/img3.jpg" alt />
    <img src="../assets/img1.jpg" alt />
    <img src="../assets/img2.jpg" alt />
  </figure>
</div> -->
