
        <h1> Cher {{client.prenom}}, Bienvenue ! </h1>

<div class="list-group">
  <a href="./dash-client" class="list-group-item list-group-item-action active">
    Actions possibles
  </a>
  <a href="./dash-client/liste-compte" class="list-group-item list-group-item-action">Gérer vos comptes</a>
  <a href="./dash-client/transaction" class="list-group-item list-group-item-action">Réaliser un mouvement</a>
  <a href="./dash-client/profil" class="list-group-item list-group-item-action">Votre profil</a>
  <a href="./dash-client/mail" class="list-group-item list-group-item-action">Messagerie</a>
</div>