
<h1> Effectuer un virement </h1>

<div class="row">
  <div class="col-lg-4">
    <fieldset class="form-group">
      <label> Compte a debiter : </label>
    
      <select class="form-control" [(ngModel)]="listCompte.numeroCompte">
       <option *ngFor="let listCompte of listCompte"> Compte : {{listCompte.numeroCompte}} - Solde actuel : {{listCompte.solde}} € </option>
     </select>
    </fieldset>
    <fieldset class="form-group">
      <label > Solde actuel : <b> Je n'arrive pas à le mettre ici... </b></label>
    </fieldset>
  </div>
  <div class="col-lg-1">

  </div>
  <div class="col-lg-4">
    <fieldset class="form-group">
      <label> Compte a crediter : </label>
     <select class="form-control" id="status">
        <option value="0">Compte 0</option>
        <option value="1">Compte 1</option>
        <option value="2">Compte 2</option>
      </select>
    </fieldset>
    <fieldset class="form-group">
      <button type="submit" class="btn btn-primary" onclick="alert('Fonction en cours de déploiement.');">Ajouter un compte</button>
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <fieldset class ="form-group">
        <label> Montant du transfert : </label>
        <input class="form-control" type="text" id="famount" name="transfer_amount" required placeholder="Entrez le montant">
    </fieldset>
  </div>
</div>

<div class="row">
    <div class="col-lg-4">
      <fieldset class="form-group">
        <button type="submit" class="btn btn-primary">Valider</button>
      </fieldset>
    </div>
</div>
