
<h1> Effectuer un virement </h1>

<div class="row">
  <div class="col-lg-4">
    <fieldset class="form-group">
      <label> Compte a débiter : </label>
    
      <select class="form-control" required [(ngModel)]="id" (change)="getCompte($event)">
       <option *ngFor="let list of listCompte" value = "{{list.numCompte}}" >  Compte : {{list.numCompte}} - Solde actuel : {{list.solde}} € </option>
     </select>
    </fieldset>
    <p> Solde du compte : {{getSolde()}}</p>
    <fieldset class="form-group">
    </fieldset>
  </div>
  <div class="col-lg-1">

  </div>
  <div class="col-lg-4">
    <fieldset class="form-group">
      <label> Compte a créditer : </label>
         <select class="form-control" required [(ngModel)]="listCompte.numCompte">
           <option *ngFor="let listCompte of listCompte"> Compte : {{listCompte.numCompte}}</option>
         </select>
    </fieldset>
    <fieldset class="form-group">
      <button type="submit" class="btn btn-primary" onclick="alert('Fonction en cours de déploiement.');">Ajouter un compte</button>
    </fieldset>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <fieldset class ="form-group">
        <label> Montant du transfert : </label>
        <input class="form-control" type="text" [(ngModel)]="montant" required placeholder="Entrez le montant">
    </fieldset>
  </div>
</div>
<div class="row">
    <div class="col-lg-4">
      <fieldset class ="form-group">
          <label> Libelle : </label>
          <input class="form-control" type="text" [(ngModel)]="libelle" required placeholder="Entrez le libelle">
      </fieldset>
    </div>
  </div>

<div class="row">
    <div class="col-lg-4">
      <fieldset class="form-group">
        <button type="submit" class="btn btn-primary" (click)= "doTransaction()">Valider</button>
      </fieldset>
    </div>
</div>

  <div align="right">
  <button type="submit" class="btn btn-primary" [routerLink]="['/dash-client']">Retour</button>
  </div>
