<section class="headbar">
        <div class="menu">
          <div class="row">
            <div class="col-lg-2">
                    <a routerLink="/dash-admin/gesti-affect" class="dropdown-item">Gestion des affectations</a>
            </div>
            <div class="col-lg-2">
                    <a routerLink="/dash-admin/gesti-conseiller" class="dropdown-item">Gestion des conseillers</a>
            </div>
            <div class="col-lg-2">
                    <a routerLink="/dash-admin/search-admin" class="dropdown-item">Rechercher</a>
            </div>
            <div class="col-lg-2">
                    <a routerLink="/dash-admin/mail-admin" class="dropdown-item">Mail</a>
            </div>
          </div>
        </div>
      </section>