<div [@routerTransition] class="login-page">
  <h2 class="text-muted">Dashboard <small>Statistics Overview</small></h2>
<header>
<nav class="col-lg-2"> 
					<ul>
						<li><a routeurLink="./liste-conseiller" routerLinkActive="active">Liste</a></li>
						<li><a routeurLink="./ajout-conseiller" routerLinkActive="active">Ajout</a></li>
						<li><a routeurLink="./edit-conseiller" routerLinkActive="active">Edit</a></li>
					</ul>
		</nav>
</header>


  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xl-3 col-lg-6">

    </div>
    <div class="col-xl-3 col-lg-6">

    </div>
  </div>
  <div class="row">
    <!-- /.col-lg-8 -->
    <div class="col-lg-4">
      <div class="card card-default mb-3">
        <div class="card-header">
          <i class="fa fa-bell fa-fw"></i> Notifications card
        </div>
        <!-- /.card-header -->

      <!-- /.card .chat-card -->
    </div>
    <!-- /.col-lg-4 -->
  </div>
</div>
