<div class="col-lg-8">
<table class="table table-hover table-striped">
  <tr style="font-weight:bold; text-align: center;">
    <td><B>ID Client</B></td>
    <td><b>Nom</b></td>
    <td><b>Prénom</b></td>
    <td><b>Compte</b></td>
    <td><b>Date demande</b></td>
    <td><b>Nombre de chéquier</b></td>
  </tr>
  <tr>
    <td>17869</td>
    <td>Jean</td>
    <td>Michel</td>
    <td>08</td>
    <td>24/01</td>
    <td> 8 </td>
    <td>
     <button class="btn btn-success" type="submit">Accepter</button>
     <button class="btn btn-danger" type="submit">Rejeter</button>
    </td>
  </tr>

</table>

</div>

<div align="right">
  <button type="submit" class="btn btn-primary" [routerLink]="['/dash-conseiller']">Retour</button>
  </div>