<h1> Resume du compte</h1>

<section>

<table class="table table-hover table-striped">
    <tr>
        <td> Libelle </td>
        <td> Date </td>
        <td> Depot</td>
        <td> Retrait</td>
    </tr>
    <tr *ngFor="let list of listMouvement">
        <td> {{list.libelle}}</td>
        <td> {{list.date}}</td>
        <td>
            <div *ngIf = "verifCompte(list)">
                {{list.montant}} euros
            </div>         
        </td>
        <td> 
            <div *ngIf = "!verifCompte(list)">
                {{list.montant}} euros  
            </div>
        </td>
    </tr>
   </table>
</section>

<button type="submit" class="btn btn-primary" >Retour</button>

