<router-outlet></router-outlet>

        <h1> Administrateur </h1>

<div class="list-group">
  <a href="./dash-admin" class="list-group-item list-group-item-action active">
    Actions possibles
  </a>
  <a href="./dash-admin/gesti-affect" class="list-group-item list-group-item-action">Gestion des affectations</a>
  <a href="./dash-admin/gesti-conseiller" class="list-group-item list-group-item-action">Ajouter un conseiller</a>
  <a href="./dash-admin/search-admin" class="list-group-item list-group-item-action">Rechercher un conseiller</a>
  <a href="./dash-admin/mail-admin" class="list-group-item list-group-item-action">Messagerie</a>
</div>