<app-menu-conseiller></app-menu-conseiller>
<table>
  <tr>
    <td>Nom</td>
    <td>Prenom</td>
    <td>Email</td>
    <td>Telephone</td>
    <td>Naissance</td>
    <td>Num et voie</td>
    <td>Code postal</td>
    <td>Ville</td>
    <td>Situation perso</td>
    <td>salaire</td>
    <td>Profil souhaite</td>
    <td>Date de demande</td>
    <td>Document supplementaire</td>
  </tr>
  <tr>
    <td>Jean</td>
    <td>Michel</td>
    <td>Michel@gmail.com</td>
    <td>0606060606</td>
    <td>24/01</td>
    <td>24 rue GK</td>
    <td>69007</td>
    <td>Lyon</td>
    <td>2500e</td>
    <td>celibataire</td>
    <td>Compte simple</td>
    <td>24/01</td>
    <td>
       <select>
           <option value="">Feuille de paye</option>
           <option value="">Justificatif de domicile</option>
           <option value="">Avis d'impot</option>
           <option value="">Autre</option>
       </select>
    </td>
    <td>
     <button type="submit">Accepter</button>
     <button type="submit">Rejeter</button>
    </td>
  </tr>

  
</table>
