<app-menu-conseiller></app-menu-conseiller>

  <table class="table table-hover table-striped">
    <tr style="font-weight:bold; text-align: center;">
      <td>Nom</td>
      <td>Prénom</td>
      <td>Situation perso</td>
      <td>Salaire</td>
      <td>Profil souhaité</td>
      <td>Date de demande</td>
      <td> Validation </td>
      <td></td>
    </tr>
    <tr style="text-align: center;">
      <td>Jean</td>
      <td>Michel</td>
      <td>Célibataire</td>
      <td>2500€</td>
      <td>Compte simple</td>
      <td>24/01</td>
      <td>
       <button class="btn btn-success" type="submit">Accepter</button>
        &nbsp;&nbsp;
       <button class="btn btn-danger" type="submit">Rejeter</button>
      </td>
      <td> <button type="submit" class="btn btn-primary" [routerLink]="['']"> Details </button> </td>
  </tr>
</table>
