<h1>Rechercher un client</h1>

<div class="row">
    <div class ="col-lg-6">
        <input class="form-control" type="text" [(ngModel)]="search" required placeholder="Entrez votre recherche">
    </div>
    <div class ='col-lg-2'>
       <button type="submit" class="btn btn-primary" (click) ="doSearch()"> Rechercher !</button>
    </div>
</div>

 <section>
    <table class="table table-hover table-striped">
     <tr>
         <td> Nom </td>
         <td> Prenom</td>
         <td> Adresse</td>
         <td> Ville </td>
         <td> EMail </td>
         <td> </td>
     </tr>
     <tr *ngFor="let listClient of listClientAffiche">
         <td> {{listClient.nom}}</td>
         <td> {{listClient.prenom}}</td>
         <td> {{listClient.address.rue}}</td>
         <td> {{listClient.address.cp}} - {{listClient.address.ville}}</td>
         <td> {{listClient.email}}</td>
         <td> 
               <button type="submit" class="btn btn-primary" [routerLink]="['./view-client', listClient.id_client]"> Details </button>
         </td>
     </tr>
    </table>
 </section>

 <div align="right">
  <button type="submit" class="btn btn-primary" [routerLink]="['/dash-conseiller']">Retour</button>
  </div>