<section class="headbar">
  <div class="menu">
    <div class="row">
      <div class="col-lg-2">
        <a routerLink="/dash-client/liste-compte"  class="dropdown-item"> Gestion des comptes </a>
      </div>
      <div class="col-lg-2">
        <a routerLink="/dash-client/transaction" class="dropdown-item">Effectuer un mouvement</a>
      </div>
      <div class="col-lg-2">
        <a routerLink="/dash-client/profil" class="dropdown-item">Profil personnel</a>
      </div>
      <div class="col-lg-2">
        <a routerLink="/dash-client/mail" class="dropdown-item">Mail</a>
      </div>
    </div>
  </div>
</section>